.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92dvh;
  text-align: center;
  gap: 10px;
  background: linear-gradient(191.08deg, #ffffff 8.17%, #def4f0 62.61%);
  overflow-y: hidden;
}
.hometitle {
  color: #eb6372;
  font-size: 38px;
  font-weight: 800;
  line-height: 54px;
  text-align: center;
  margin: 10 0;
}
.homesubtitulo {
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  margin: 10 0;
}
